.informationDisplay{
    width:20%;
    height:10%;
    border-style: solid;
    font-weight: bold;

}
fieldset > div {
    padding-top: 5px;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.user{
    padding-bottom: 10px;
}

.plus{
    width: 10%;
    padding-right: 10px;
}
.cross{
    width: 100%;
    
    grid-column: 2 /3;
    grid-row: 1/20;
    
}

.addToDo{
    display: flex;  
    justify-content: flex-start;
    align-items: center; 

}

#addToProject{
    display:none;
}

#toDoData{
    display: none;
    grid-template-columns: 9fr 1fr;
    grid-template-rows:
}

#submit{
    display:none;
}

.projects > div > div{
    margin-left: 10px;
}

.sideBar{
    grid-column: 1 / 2;
    border: 3px solid black;
    
}


