.informationDisplay{
    width:20%;
    height:10%;
    border-style: solid;
    font-weight: bold;

}
fieldset > div {
    padding-top: 5px;
}

body{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.user{
    padding-bottom: 10px;
}

.addToDo > img{
    width: 10%;
    padding-right: 10px;
}
.addToDo{
    display: flex;  
    justify-content: flex-start;
    align-items: center; 

}

#addToProject{
    display:none;
}

#toDoData, #submit{
    display:none;
}

.projects > div > div{
    margin-left: 10px;
}


